<div class="book-detail-right">
  <h4>記録情報</h4>

  <div class="record-item">
    <div class="badge">開始日</div>
    {% if record.started_at %}
    <div class="row-center gap-4">
      <div class="text-sm">{{ record.started_at|default_if_none:'' }}</div>

      {% if not record.finished_at %}
      <form action="{% url 'mark_as_unstarted' book.id %}" method="post">
        {% csrf_token %}
        <button id="done-button" type="submit">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </form>
      {% endif %}
    </div>
    {% else %} {% if not record.finished_at %}
    <form action="{% url 'mark_as_started' book.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn-sm">
        <i class="fa-regular fa-calendar"></i>
        <span>読み始める</span>
      </button>
    </form>
    {% else %}
    <div class="text-sm">{{ record.started_at|default_if_none:'-' }}</div>
    {% endif %} {% endif %}
  </div>

  <div class="record-item">
    <div class="badge">読了日</div>

    {% if record.finished_at %}
    <div class="row-center gap-4">
      <div class="text-sm">{{ record.finished_at }}</div>

      <form action="{% url 'mark_as_unfinished' book.id %}" method="post">
        {% csrf_token %}
        <button id="done-button" type="submit">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </form>
    </div>
    {% else %} {% if record.started_at %}
    <form action="{% url 'mark_as_finished' book.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn-sm">
        <i class="fa-regular fa-calendar"></i>
        <span>読了済みにする</span>
      </button>
    </form>
    {% else %}
    <div class="text-sm">{{ record.finished_at|default_if_none:'-' }}</div>
    {% endif %} {% endif %}
  </div>

  <div class="record-item mt-4">
    {% if record.finished_at %}
    <button id="openReviewModalButton" type="button" class="btn-sm btn-primary">
      <i class="fa-solid fa-pen"></i>
      <span>レビュー</span>
    </button>
    <span>
      {% if review %}
      <i class="fa-solid fa-check" style="color: #1e90ff"></i>
      {% endif %}
    </span>
    {% endif %}
  </div>
</div>
