{% extends 'base.html' %}
{% load static %}

{% block title %}
  ログイン
{% endblock %}

{% block css %}
  <link href="{% static 'css/pages/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}

  <form method="post" class="login-form">
    {% csrf_token %}
    <label class="login-label">メールアドレス</label>
    <input type="email" name="email" required class="login-input" />

    <label class="login-label">パスワード</label>
    <input type="password" name="password" required class="login-input" />

    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'register' %}">ユーザー登録</a>
  </form>
{% endblock %}
