{% extends 'base.html' %}
{% load static %}

{% block title %}
  ダッシュボード
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pages/setting.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/card.css' %}" />
{% endblock %}

{% block content %}
  <div class="page-title">アカウント設定</div>

  <div class="setting-section">
    <div class="card">
      <form method="post" action="{% url 'setting' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="更新" class="btn-sm btn-primary" />
      </form>
    </div>
  </div>

  <div>
    <a href="{% url 'logout' %}" class="btn btn-danger">ログアウト</a>
  </div>
{% endblock %}
