{% load static %}

<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
    
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    <title>
      {% block title %}
        Document
      {% endblock %}
    </title>
  </head>


  <body>
    {% include 'components/header.html' %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
