{% extends 'base.html' %}

{% load static %}

{% block title %}
  ダッシュボード
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/contribution.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/bookshelf.css' %}" />
{% endblock %}

{% block content %}
  <div class="top-container">
    <div class="top-left">
      <div class="user-icon"></div>

      <div class="user-username">{{ user.username }}</div>

      <div>
        <div>
          <a class="btn btn-info" href="{% url 'setting' %}">ユーザー設定</a>
        </div>
      </div>
    </div>

    <div class="top-right">
      <div>
        <div>
          <div>{{ month }}月の活動履歴</div>
        </div>

        <div class="contribution-calendar">
          <div class="day-label">月</div>
          <div class="day-label">火</div>
          <div class="day-label">水</div>
          <div class="day-label">木</div>
          <div class="day-label">金</div>
          <div class="day-label">土</div>
          <div class="day-label">日</div>


          <!-- 各日のデータを表示 -->
          {% for data in activity_data %}
            <div class="contribution-day" data-count="{{ data.activity_count }}" title="{{ data.date }}: {{ data.activity_count }} activities">{{ data.date.day }}</div>
          {% endfor %}
        </div>

        {% comment %}TODO right{% endcomment %}
      </div>

      <div>
        <div>今月のメモ数</div>
        <div>今月読破した書籍数</div>
        <div>今月レビューした書籍数</div>
      </div>
    </div>
  </div>

  <div class="toolbar">
    <div>本棚</div>
    <div>レビュー一覧</div>
  </div>

  <div class="bookshelf-container">
    <h2>本棚</h2>
    {% if books %}
      <ul class="bookshelf">
        {% for book in books %}
          <li class="bookshelf-item">
            <div>
              <img src="{{ book.thumbnail }}" alt="{{ book.title }}" />
            </div>
            <a href="{% url 'reading_record' book.id %}">{{ book.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>本棚には書籍が登録されていません。</p>
    {% endif %}
  </div>
{% endblock %}
