{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pages/home.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/book.css' %}" />
{% endblock %}

{% block title %}
  トップページ
{% endblock %}

{% block content %}
  <div>

    <div class="about-section">
      <h3>BookHubとは？</h3>

      <div class="about-features-container">
        <div class="about-feature">
          <h4>毎日の頑張りが可視化されます！</h4>
        </div>
        <div class="about-feature">
          <h4>自分の本棚をシェアできます！</h4>
        </div>
        <div class="about-feature">
          <h4>ツイート感覚でメモができます！</h4>
        </div>
      </div>
    </div>

    <div class="search-section">
      <div class="search-title">気になる書籍を検索する</div>
      <form action="{% url 'book_search' %}" method="GET" class="search-container">
        <input type="text" name="query" placeholder="書籍を検索" class="search-input" />
        <button type="submit" class="searchbox-icon"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <div class="review-section">
      <h2>最新のレビュー</h2>
      <div class="reviews-container">
        {% for review in latest_reviews %}
          <a href="{% url 'book_detail' review.book.id %}" class="book-panel">
            <div class="book-image">
              <img src="{{ review.book.thumbnail }}" alt="{{ book.title }}" />
            </div>

            <div class="text-primary">{{ review.book.title }}</div>

            <div class="review-title">{{ review.user.username }}さんが{{ review.rating }}点を付けました</div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="top-books-section">
      <h2>よく読まれています</h2>

      <div class="top-books-container">
        {% for result in top_book_results %}
          <div class="book-panel">
            <div class="book-image">
              <img src="{{ result.book__thumbnail }}" alt="{{ result.book__title }}"  />
            </div>
            <div>{{ result.book__title }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="recommendation-book-container">オススメ</div>
  </div>
{% endblock %}
