{% load user_tags %} 
{% load book_tags %}

<div class="review-list">
  {% for review in reviews %}
  <div class="review-item">
    <div class="review-item__header">
      <div class="review-item__image">
        {% book_icon review.book "sm" %}
        <i class="fa-solid fa-pen" style="color: #888"></i>
      </div>

      <div>
        <div class="review-item__user-info">
          <div>{% user_icon review.user "sm" %}</div>
          <div>
            <div class="user-name__md">
              <a href="{% url 'user_detail' review.user.username %}">{{ review.user.username }}</a>
            </div>
            <div class="time">{{review.created_at|date:"Y/m/d H:i"}}</div>
          </div>
        </div>

        <div class="review-rating">
          {% if review.rating %} 
            {% for i in rating_range %} 
              {% if i <= review.rating %}
              <i class="fa-solid fa-star" style="color: #ffdc2e"></i>
              {% else %}
              <i class="far fa-star"></i>
              {% endif %} 
            {% endfor %} 
          {% else %}
          レビューがありません
          {% endif %}
        </div>

        <a href="{% url 'book_detail' review.book.id %}" class="text-sm">{{ review.book.title }}</a>
      </div>
    </div>

    <p class="mt-4">{{ review.content }}</p>

    <div class="mt-4 row">
      <div
        class="like-btn"
        style="color: {{ review.is_liked|yesno:"#FF0000,#666" }};"
        data-liked="{{ review.is_liked|yesno:"true,false" }}"
        data-selection-id="{{ review.id }}"
      >
        <i 
            class="like-icon fa-regular fa-heart {{ is_authenticated|yesno:"cursor-pointer," }}"
        ></i>
        <span class="like-count">
            {{ review.like_count }}
        </span>
       </div>
    </div>
  </div>
  {% empty %}
  <div class="card-sm">レビューが存在しません</div>
  {% endfor %}
</div>
