{% load user_tags %}
{% load book_tags %}

<div class="review-list">
  {% for review in reviews %}
    <div class="review-item">
      <div class="review-item__header">
        <div class="review-item__image">
          {% book_icon review.book "sm" %}
          <i class="fa-solid fa-pen" style="color: #888;"></i>
        </div>

        <div>
          <div class="review-item__user-info">
            <div>
              {% user_icon review.user "sm" %}
            </div>
            <div>
              <div class="review-item__username">{{ review.user.username }}</div>
              <div class="review-item__time">{{review.created_at}}</div>
            </div>
          </div>

          <div class="review-rating">
            {% if review.rating %}
              {% for i in rating_range %}
                {% if i <= review.rating %}
                  <i class="fa-solid fa-star" style="color: #ffdc2e;"></i>
                {% else %}
                  <i class="far fa-star"></i>
                {% endif %}
              {% endfor %}
            {% else %}
              レビューがありません
            {% endif %}
          </div>

          <a href="{% url 'book_detail' review.book.id %}" class="review-item__title">{{ review.book.title }}</a>
        </div>
      </div>

      <a class="review-item__content"
      href="{% url 'book_detail' review.book.id %}"
      >{{ review.content }}</a>
    </div>
    {% empty %}
    <div class="card-sm">レビューが存在しません</div>
  {% endfor %}
</div>
