<div id="timeline-section" style="display: none">
    <h3 class="mb-6">アウトプット一覧</h3>

    {% include 'components/memo_form.html' %}
    
    {% if memos %}
        {% include 'components/memo_list.html' with show=False %}
        {% else%}
        <div class="card-sm">
            <p>アウトプットがありません。始めてのアウトプットをしてみませんか？</p>
        </div>
    {% endif %}

    <div class="center pt-4 mt-10">
        <i id="get-memo-list-btn"  class="fa-xl fa-solid fa-rotate-right cursor-pointer" style="color: #1e90ff;"></i>

        {% if book %}
        <input type="hidden" id="book-id" value="{{book.id}}" />
        {% endif %}
    </div>
</div>