{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% load book_tags %}

{% block title %}
  書籍詳細
{% endblock %}

{% block meta%}
  {% with first_book=selection.get_first_book %}
    <meta property="og:image" content="{{ book.thumbnail }}" />
    <meta property="og:title" content="{{ book.title }}" />
    <meta property="og:description" content="{{ book.description }}" />
    <meta property="og:type" content="article" />
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ book.title }}">
    <meta name="twitter:description" content="{{ book.description }}">
    <meta name="twitter:image" content="{{ book.thumbnail }}">
  {% endwith %}
{% endblock %}

{% block css %}
  <link href="{% static 'css/components/review.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/memo.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/modal.css' %}" rel="stylesheet" />
  <link href="{% static 'css/pages/book_detail.css' %}" rel="stylesheet" />

  <style>
    .amazon-logo {
      height: 100px;
    }
    .amazon-logo:hover {
      opacity: 0.8;
    }
  </style>
{% endblock %}

{% block js %}
  <script src="{% static 'js/services/review/like.js' %}"></script>
  <script src="{% static 'js/review-modal.js' %}"></script>
  <script src="{% static 'js/pages/book/detail.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="detail-section card">
    <div  class="detail-image">
      
      {% book_icon book "md" %}

      <div>
        {% include 'components/book_share_x.html' with title=book.title %}
      </div>
    </div>

    <div class="book-detail-info-container text-sm">
      {% include 'components/book_title_sm.html' %}
      {% include 'components/book_authors.html' %}
      {% include 'components/book_publication_date.html' %}


      <div class="rating-container">
        {% if avg_rating %}
          {% include 'components/rating_stars.html' %}
          {{ avg_rating }}点
        {% else %}
          レビューがありません
        {% endif %}
      </div>

      <div class="book-detail-tools">
       {% include "components/_book_register_button.html" %}
      </div>
    </div>

    <div class="book-record-container">
      <h4>書籍記録</h4>
      <div>
        <span class="badge">レビュー</span>
        <span class="text-sm">{{ reviews_count }}件</span>
      </div>

      <div>
        <span class="badge">登録者数</span>
        <span class="text-sm">{{ registers }}人</span>
      </div>

      <div>
        <div>
          {% if book.amazon_url %}
          <a href="{{ book.amazon_url }}" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/amazon.png' %}" class="amazon-logo" alt="Amazon Logo">
          </a>
          {% else %}
          <a href="https://www.amazon.co.jp/s?k={{book.title}}&linkCode=ll2&tag=yommy-22&linkId=21ce06eccdc77bca6b1be589ceed7a39&language=ja_JP&ref_=as_li_ss_tl" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/amazon.png' %}" class="amazon-logo" alt="Amazon Logo">
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>書籍紹介</h3>

    {% if book.description %}
     <p class="description-content card-sm">{{ book.description }}</p>
    {% else %}
     <p class="description-content card-sm">書籍紹介がありません</p>
    {% endif %}
  </section>

  <div class="toolbar-section my-4">
    <div>
      <button id="btn-reviews" class="badge badge-info">レビュー</button>
      <button id="btn-timeline" class="badge">タイムライン</button>
    </div>
  </div>

  {% include 'components/detail/_review_section.html' %}
  {% include 'components/detail/_timeline_section.html' %}

  {% include 'components/review_modal.html' %}
{% endblock %}
