{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% load book_tags %}
{% load review_tags %}

{% block title %}
  書籍詳細
{% endblock %}

{% block css %}
  <link href="{% static 'css/components/review.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/modal.css' %}" rel="stylesheet" />
  <link href="{% static 'css/pages/book_detail.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/services/review/like.js' %}"></script>
  <script src="{% static 'js/review-modal.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="detail-section card">
    <div  class="detail-image">
      
      {% book_icon book "md" %}

      <div>
        {% include 'components/book_share_x.html' with title=book.title %}
      </div>
    </div>

    <div class="book-detail-info-container text-sm">
      {% include 'components/book_title_sm.html' %}
      {% include 'components/book_authors.html' %}
      {% include 'components/book_publication_date.html' %}


      <div class="rating-container">
        {% if avg_rating %}
          {% include 'components/rating_stars.html' %}
          {{ avg_rating }}点
        {% else %}
          レビューがありません
        {% endif %}
      </div>

      <div class="book-detail-tools">
       {% include "components/_book_register_button.html" %}
      </div>
    </div>

    <div class="book-record-container">
      <h4>書籍記録</h4>
      <div>
        <span class="badge">レビュー</span>
        <span class="text-sm">{{ reviews_count }}件</span>
      </div>

      <div>
        <span class="badge">登録者数</span>
        <span class="text-sm">{{ registers }}人</span>
      </div>

      {% comment %} TODO 購入ボタン {% endcomment %}
    </div>
  </section>

  <section>
    <h3>書籍紹介</h3>

    {% if book.description %}
     <p class="description-content card-sm">{{ book.description }}</p>
    {% else %}
     <p class="description-content card-sm">書籍紹介がありません</p>
    {% endif %}
  </section>

  <section class="reviews-section">
    <div class="review-title-container">
      <h3>レビュー</h3>

      {% if user.is_authenticated %}
        <button type="button" class="btn-sm btn-primary" id="openReviewModalButton">
          <i class="fa-solid fa-pen"></i>
          <span>レビューを書く</span>
        </button>
      {% else %}
        <p>
          レビューするには<a href="{% url 'login' %}">ログイン</a>
        </p>
      {% endif %}
    </div>

    {% review_list reviews request.user.is_authenticated %}
  </section>

  <!-- モーダル機能 -->
  {% include 'components/review_modal.html' %}
{% endblock %}
