{% extends 'base.html' %} 
{% load static %} 
{% load book_tags %}

{% block title %}Yommy{% endblock %} 

{% block meta%}
<meta property="og:image" content="{% static 'images/logo.jpg' %}" />
<meta property="og:title" content="Yommyホーム" />
<meta property="og:type" content="article" />

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Yommyホーム">
<meta name="twitter:image" content="{% static 'images/logo.jpg' %}">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/components/review.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/memo.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/selection.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}" />
{% endblock %} 

{% block header_content %}
  {% include 'components/home/search_section.html' %}
{% endblock %}

{% block right %}
<aside class="sidebar">

<h2 class="mb-4">Pickup！</h2>
<div class="card-sm">
  <ul class="col-center gap-4">
    {% for recommend in recommend_books %}
      <li>
        <div class="badge-sm badge-success text-center mb-2">{{ recommend.title }}</div>
        <div>
          <div>
            {% book_icon recommend.book "md" %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% comment %} <h2 class="mt-6 mb-4">応援されてます</h2>

<div class="card-sm">
  <div>1</div>
</div> {% endcomment %}
</aside>
{% endblock %}


{% block content %}
  {% include 'components/home/selection_section.html' %}
  {% include 'components/home/reviews_section.html' %}
  {% include 'components/home/news_section.html' %}
  {% include 'components/home/timeline_section.html' %}
  {% comment %} {% include 'components/home/ranking_section.html' %} {% endcomment %}
  {% include 'components/home/top_books.html' %}
{% endblock %}