{% extends 'base.html' %} 
{% load static %} 
{% load book_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/components/review.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/memo.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/selection.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}" />
{% endblock %} 

{% block title %}Yommy{% endblock %} 


{% block header_content %}
  {% include 'components/home/search_section.html' %}
{% endblock %}

{% block right %}
<aside class="sidebar">

<h2 class="mb-4">注目</h2>
<div class="card-sm">
  <ul class="col-center gap-4">
    {% for recommend in recommend_books %}
      <li>
        <div class="badge-sm badge-success text-center mb-2">{{ recommend.title }}</div>
        <div>
          <div>
            {% book_icon recommend.book "md" %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<h2 class="mt-6 mb-4">Yommy応援</h2>

<div class="card-sm">
  <div>1</div>
</div>

{% comment %} <div class="mt-6 card-sm">
  <h3>AIによるオススメ</h3>

  <div>

  </div>
</div> {% endcomment %}

</aside>
{% endblock %}


{% block content %}
  {% include 'components/home/selection_section.html' %}
  {% include 'components/home/reviews_section.html' %}
  {% include 'components/home/news_section.html' %}
  {% include 'components/home/timeline_section.html' %}
  {% comment %} {% include 'components/home/ranking_section.html' %} {% endcomment %}
  {% include 'components/home/top_books.html' %}
{% endblock %}