{% extends 'base.html' %}

{% load static %}

{% block title %}
  マイページ
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/contribution.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/book.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/follow.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/user.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/review.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/selection.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/mypage.css' %}" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/pages/mypage.js' %}"></script>
{% endblock %}

{% block content %}

<section class="card">
    <h3>{{ selection.title }}</h3>

    <div class="selection-info">
      <div>
        <p>選書者</p>

        {% comment %} TODO tagsに切り替える {% endcomment %}
        <a href="{% url 'user_detail' user.username %}" class="user-icon-container">
          {% if selection.user.profile_image %}
            <img src="{{ selection.user.profile_image.url }}" alt="{{ user.username }}" class="user-icon" />
          {% else %}
            <span class="user-icon">
              <i class="fa-regular fa-face-smile fa-xl" style="color: #888;"></i>
            </span>
          {% endif %}
        </a>
        
      </div>

      <p>{{ selection.description }}</p>
    </div>

    {% for book in selection.books.all %}
      <div class="book">
        <a href="{% url 'book_detail' book.id %}">
          <img src="{{ book.thumbnail }}" alt="{{ book.title }}" />
        </a>
        <p>{{ book.title }}</p>
      </div>
    {% endfor %}
</section>

{% endblock %}
