{% extends 'base.html' %}

{% load static %}
{% load user_tags %}
{% load book_tags %}

{% block title %}
  マイページ
{% endblock %}

{% block meta%}
  <meta property="og:image" content="https://gamari-devs.xyz/ogp/{{selection.id}}/" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/selection.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/selection_detail.css' %}" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/services/book/register.js' %}"></script>
{% endblock %}


{% block content %}
<section class="card">
    <h3>{{ selection.title }}</h3>

    <div class="selection-info">
      <div class="row-center gap-2 my-4">
        {% user_icon selection.user "sm" %}

        <div>
          <span>{{ selection.user.username }}</span>
        </div>

        <div>
          <span>{{selection.created_at }}</span>
        </div>
      </div>

      <p class="my-2">{{ selection.description }}</p>
    </div>

    <div class="mt-2">
      {% comment %} TODO 良いね機能を作る {% endcomment %}
      <i class="fa-regular fa-heart" style="color: #666;"></i>
      {% comment %} お気に入り機能 {% endcomment %}
      <i class="fa-regular fa-star" style="color: #666;"></i>
    </div>

    <div class="bookshelf mt-6">
    {% for book in selection.books.all %}
      {% book_icon book "md" user %}
    {% endfor %}
    </div>

    <div class="mt-10">
      <span class="badge">シェアする</span>

      <div class="p-4">
        {% include 'components/book_share_x.html' %}
      </div>
    </div>

</section>

{% endblock %}
