{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% load book_tags %}

{% block title %}
  お知らせ
{% endblock %}

{% block meta %}
<meta property="og:image" content="{% static 'images/logo.jpg' %}" />
<meta property="og:title" content="{{ notice.title }}" />
{% comment %} <meta property="og:description" content="{{ book.description }}" /> {% endcomment %}
<meta property="og:type" content="article" />

<!-- Twitter Card -->
<meta name="twitter:title" content="{{ notice.title }}" />
{% comment %} <meta name="twitter:description" content="{{ book.description }}" /> {% endcomment %}
<meta name="twitter:image" content="{% static 'images/logo.jpg' %}" />
<meta name="twitter:card" content="summary" />
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
  {% if request.user.is_staff %}
    <a href="{% url 'management_notice_edit' notice.id %}" class="btn btn-primary">編集</a>
  {% endif %}

  <section>
    <div class="card ">
      <h2>{{ notice.title }}</h2>

      <div class="time mt-4">{{ notice.created_at|date:'Y/m/d H:i' }}</div>

      <div class="mt-4">
        {% if notice.kind == "news" %}
        <span class="badge-sm badge-primary">お知らせ</span>
        {% elif notice.kind == "help" %}
        <span class="badge-sm badge-secondary">使い方</span>
        {% endif %}
      </div>

      <div class="content mt-10">
        <div class="markdown">{{ notice.content_html|safe }}</div>
      </div>

      <div class="mt-6">
        <span class="badge-sm badge-info">シェア</span>

        <div class="p-2">
            {% include "components/book_share_x.html" with title=notice.title  %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
