{% extends 'base.html' %} 
{% load static %} 
{% block css %} {% comment %} TODO {% endcomment %} {% endblock %} 

{% block title %}管理者画面-ツイートタグ一覧{% endblock %} 

{% block content %}

<div>
  <a href="{% url 'management_dashboard' %}">管理者ダッシュボードへ</a>
</div>


<section>
    <div class="my-4">
        <a href="{% url 'management_create_tweet_tag' %}" class="mt-4 btn-sm btn-primary">作成する</a>
    </div>

  <div class="col gap-4">
    {% for tag in tags %}
    <div>
        <div class="card-sm">
            <div>{{tag.title}}</div>
            <div>
            </div>
            <div>
                {% comment %} <a href="{% url 'management_edit_tweet' tweet.id %}" class="btn-sm btn-primary">編集</a> {% endcomment %}
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
