{% load book_tags %}

<div class="bookshelf">
  {% for book in books %}
  <a href="{% url 'reading_record' book.id %}" class="book">
    {% if book.thumbnail %}
    <img
      src="{{ book.thumbnail }}"
      alt="{{ book.title }}"
      class="book-image book-image-md"
    />
    {% else %}
    <img src="https://via.placeholder.com/120x150" alt="{{ book.title }}" />
    {% endif %} 
    
    {% if book.reading_record.0.finished_at %}
    <span class="book-done-icon"><i class="fa-solid fa-check"></i></span>
    {% elif book.reading_record.0.started_at %}
    <span class="book-play-icon"><i class="fa-solid fa-play"></i></span>
    {% endif %}
  </a>

  {% empty %}
  <div class="card-sm w-full">書籍が登録されていません</div>
  {% endfor %}
</div>
