<div class="bookshelf">
  <div class="content">
    {% for result in books %}
    <a href="{% url 'reading_record' result.book.id %}" class="book">
      <img
        src="{{ result.book.thumbnail }}"
        alt="{{ result.book.title }}"
        class="book-image"
      />

      {% if result.reading_record.finished_at %}
      <span class="book-done-icon"><i class="fa-solid fa-check"></i></span>
      {% elif result.reading_record.started_at %}
      <span class="book-play-icon"><i class="fa-solid fa-play"></i></span>
      {% endif %}
    </a>

    {% empty %}
    <div class="card">書籍が登録されていません</div>
    {% endfor %}
  </div>
</div>
