{% extends 'base.html' %}

{% load static %}
{% load user_tags %}
{% load book_tags %}

{% block title %}
  ノート詳細
{% endblock %}

{% block css %}
  {% comment %} 
  <link rel="stylesheet" href="{% static 'css/components/modal.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/reading_record.css' %}" /> 
  {% endcomment %}
{% endblock %}

{% block js %}
  {% comment %} 
  <script src="{% static 'js/services/memo/delete.js' %}"></script>
  <script src="{% static 'js/pages/reading_record.js' %}"></script> {% endcomment %}
{% endblock %}

{% block content %}
  <section>
    <div class="card-sm relative">
        {% if request.user == note.author %}
          <div class="absolute top-2 right-2">
            <a href="{% url "edit_note" note.id %}" class="btn-sm">編集</a>
          </div>
        {% endif %}

        <h3>{{ note.title }}</h3>

        <div class="mt-2 mb-6">
          <div>
            {% book_icon note.book %}
          </div>
        </div>


        <p class="mt-4">{{ note.content|linebreaks }}</p>

    </div>
  </section>
{% endblock %}
