{% extends 'base.html' %}
{% load static %}

{% block content %}
  <img src="{{ book.thumbnail }}" alt="{{ book.title }}" />
  <h2>{{ book.title }}</h2>
  <p>{{ book.author }}</p>
  <p>{{ book.description }}</p>
  <p>レビュー {{ avg_rating }}</p>

  {% if user.is_authenticated %}
    {% comment %} TODO Ajaxにする {% endcomment %}
    {% if book_on_shelf %}
      <a href="{% url 'remove_from_shelf' book.id %}" class="btn btn-warning">登録解除</a>
    {% else %}
      <a href="{% url 'add_to_shelf' book.id %}" class="btn btn-success">登録</a>
    {% endif %}
    <button type="button" class="btn btn-primary" id="openModalButton">レビューを投稿</button>
  {% else %}
    <p>
      レビューを投稿するには<a href="{% url 'login' %}">ログイン</a>してください。
    </p>
  {% endif %}

  <h3>レビュー一覧</h3>
  <ul>
    {% for review in reviews %}
      <li>
        <strong>{{ review.user.username }}</strong> - {{ review.rating }}点<p>{{ review.content }}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- モーダル機能 -->
  <div class="modal-container" id="reviewModal" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">レビューを投稿</h5>
          <button type="button" class="btn-close" id="closeModalButton"></button>
        </div>

        <div class="modal-body">
          <form class="modal-form" method="post" action="{% url 'review_create'  book.id  %}">
            {% csrf_token %}
            {{ review_form.as_p }}

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="footerCloseModalButton">閉じる</button>
              <button type="submit" class="btn btn-primary">レビューを送信</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% comment %}Meta情報{% endcomment %}

{% block title %}
  書籍詳細
{% endblock %}

{% block js %}
  <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/modal.css' %}" rel="stylesheet" />
{% endblock %}
