{% extends 'base.html' %}

{% load static %}

{% block title %}
  書籍詳細
{% endblock %}

{% block css %}
  <link href="{% static 'css/pages/book_detail.css' %}" rel="stylesheet" />

  <link href="{% static 'css/components/book.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/review.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/review_modal.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/card.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/form.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/review-modal.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="page-title">書籍 > 詳細</div>

  <div class="detail-section card">
    <div class="detail-image">
      <img src="{{ book.thumbnail }}" alt="{{ book.title }}" class="book-image" />

      <div>
        <a href="https://twitter.com/intent/tweet?text={{ book.title }}&url={{ request.build_absolute_uri|urlencode }}" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
      </div>
    </div>

    <div class="book-detail-info-container text-sm">
      <h4 class="detail-title">{{ book.title }}</h4>

      <ul class="authors-container">
        {% for author in book.authors.all %}
          <li class="author-item">
            <i class="fa-regular fa-user fa-sm"></i>
            <span>{{ author.name }}</span>
          </li>
          {% empty %}
          <li class="author-item">
            <i class="fa-regular fa-user fa-sm"></i>
            <span>-</span>
          </li>
        {% endfor %}
      </ul>

      <div>
        <i class="fa-regular fa-calendar fa-sm"></i>
        <span>
          {% if book.published_date %}
            {{ book.published_date }}
          {% else %}
            -
          {% endif %}
        </span>
      </div>

      <div class="rating-container">
        {% if avg_rating %}
          {% include 'components/rating_stars.html' %}
          {{ avg_rating }}点
        {% else %}
          レビューがありません
        {% endif %}
      </div>

      <div class="book-detail-tools">
        {% if user.is_authenticated %}
          {% if book_on_shelf %}
            <a href="{% url 'remove_from_shelf' book.id %}" class="btn-sm btn-warning">
              <i class="fa-solid fa-trash"></i>
              <span>本棚から削除</span>
            </a>
            <a href="{% url 'reading_record' book.id %}" class="btn-sm">
              <i class="fa-regular fa-note-sticky"></i>
              <span>メモする</span>
            </a>
          {% else %}
            <a href="{% url 'add_to_shelf' book.id %}" class="btn-sm btn-primary">
              <i class="fa-solid fa-book"></i>
              <span>本棚に追加</span>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="book-record-container">
      <h4>書籍記録</h4>
      <div>
        <span class="badge badge-info">レビュー</span>
        <span class="text-sm">{{ reviews_count }}件</span>
      </div>

      <div>
        <span class="badge badge-info">登録者数</span>
        <span class="text-sm">{{ registers }}人</span>
      </div>
    </div>
  </div>

  <div class="description-section">
    <h3>書籍紹介</h3>
    <p class="description-content card-sm">{{ book.description }}</p>
  </div>

  <div class="reviews-section">
    <div class="review-title-container">
      <h3>レビュー一覧</h3>

      {% if user.is_authenticated %}
        <button type="button" class="btn-sm btn-primary" id="openReviewModalButton">
          <i class="fa-solid fa-pen"></i>
          <span>レビューを書く</span>
        </button>
      {% else %}
        <p>
          レビューを投稿するには<a href="{% url 'login' %}">ログイン</a>してください。
        </p>
      {% endif %}
    </div>

    <div class="reviews">
      {% for review in reviews %}
        <div class="review-item">
          <div class="review-user">
            <div class="review-user-icon"></div>
          </div>

          <div class="review-info">
            {% comment %}TODO 星で表示させたい{% endcomment %}
            {% comment %}投稿日を出したい{% endcomment %}
            <div>
              <strong>{{ review.user.username }}</strong> - {{ review.rating }}点
            </div>
            <div class="review-content">{{ review.content }}</div>
          </div>
        </div>
        {% empty %}
        <div class="review-item">レビューがありません</div>
      {% endfor %}
    </div>
  </div>

  <!-- モーダル機能 -->
  {% include 'components/review_modal.html' %}
{% endblock %}
