{% extends 'base.html' %}

{% load static %}

{% block title %}
  書籍詳細
{% endblock %}

{% block css %}
  <link href="{% static 'css/pages/book_detail.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/review.css' %}" rel="stylesheet" />
  <link href="{% static 'css/modal.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="book-detail-container">
    <div class="book-detail-image">
      <img src="{{ book.thumbnail }}" alt="{{ book.title }}" />
    </div>

    <div class="book-detail-info">
      <h2>{{ book.title }}</h2>

      <ul class="authors-container">
        {% for author in book.authors.all %}
          <li class="author-item">
            <i class="fa-regular fa-user fa-sm"></i>
            <span>{{ author.name }}</span>
          </li>
          {% empty %}
          <li class="author-item">
            <i class="fa-regular fa-user fa-sm"></i>
            <span>-</span>
          </li>
        {% endfor %}
      </ul>

      <div>
        <i class="fa-regular fa-calendar fa-sm"></i>
        <span>
          {% if book.published_date %}
            {{ book.published_date }}
          {% else %}
            -
          {% endif %}
        </span>
      </div>

      <div>
        <i class="fa-regular fa-star fa-sm"></i>
        <span>
          {% if avg_rating %}
            {{ avg_rating }}点
          {% else %}
            レビューがありません
          {% endif %}
        </span>
      </div>

      <div class="book-detail-tools">
        {% if user.is_authenticated %}
          {% comment %}TODO Ajaxにする{% endcomment %}
          {% if book_on_shelf %}
            <a href="{% url 'remove_from_shelf' book.id %}" class="btn">本棚から削除</a>
            <a href="{% url 'reading_record' book.id %}" class="btn">読書履歴へ</a>

          {% else %}
            <a href="{% url 'add_to_shelf' book.id %}" class="btn btn-primary">本棚に追加</a>
          {% endif %}
          <button type="button" class="btn btn-info" id="openModalButton">レビューを投稿</button>
        {% else %}
          <p>
            レビューを投稿するには<a href="{% url 'login' %}">ログイン</a>してください。
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="book-description-container">
    <h3>書籍紹介</h3>
    <p class="book-description-content">{{ book.description }}</p>
  </div>

  <div class="reviews-container">
    <h3>レビュー一覧</h3>

    <div class="reviews">
      {% for review in reviews %}
        <div class="review-item">
          <div class="review-user">
            <div class="review-user-icon"></div>
          </div>

          <div class="review-info">
            {% comment %}TODO 星で表示させたい{% endcomment %}
            {% comment %}投稿日を出したい{% endcomment %}
            <div>
              <strong>{{ review.user.username }}</strong> - {{ review.rating }}点
            </div>
            <div class="review-content">{{ review.content }}</div>
          </div>
        </div>
        {% empty %}
        <div class="review-item">レビューがありません</div>
      {% endfor %}
    </div>
  </div>

  <!-- モーダル機能 -->
  {% include 'review_modal.html' %}
{% endblock %}
