{% load follow_tags %}
{% load user_tags %}

<div class="account-list-container">
  {% for account in accounts %}
  {% comment %} TODO gridにする {% endcomment %}
  <div class="account-line">
    <div class="account-user-icon">
      {% user_icon account "sm" %}
      <div class="account-info account-username">{{ account.username }}</div>
    </div>

    <div class="account-description">
      {{ account.description }}
    </div>


    <div class="account-followe-button">
      {% if request.user.id != account.id %} 
        {% follow_button request.user account %} 
        {% else %}
        <div></div>
      {% endif %}

    </div>
  </div>
  {% empty %}
  <div class="follower-line">存在しません</div>
  {% endfor %}
</div>
