{% load follow_tags %}
{% load user_tags %}

<div class="follow-list">
  {% for account in accounts %}
  <div class="follow-panel">
    <div class="follow-panel__user">
      {% user_icon account "sm" %}
      <div class="user-name">{{ account.username }}</div>

      <div class="mb-show">
        {% if request.user.id != account.id %}
          {% follow_button request.user account %} 
          {% else %}
          <div></div>
        {% endif %}
      </div>
    </div>

    <div class="follow-panel__description">
      {% if account.description %}
        <p class="user-description">{{ account.description }}</p>
        {% endif %}
    </div>


    <div class="pc-show follow-panel__tool pc-show">
      {% if request.user.id != account.id %}
        {% follow_button request.user account %} 
        {% else %}
        <div></div>
      {% endif %}

    </div>
  </div>
  {% empty %}
    <div class="follow-panel">存在しません</div>
  {% endfor %}
</div>
