{% load follow_tags %} 

<div class="card user-panel-container">
  <div class="col-center">
    {% include 'components/user_icon_sm.html' %}
    
    <div class="user-username">{{ user.username }}</div>

    {% if is_self %}
      <div></div>
    {% else %}
      {% follow_button request.user user %}
    {% endif %}
  </div>

  <div class="user-panel-info">
    <div>
      {% comment %}TODO 色々表示する{% endcomment %}
    </div>

    <div>
      <div class="follow-container">
        <div class="follow-count">{{ following_count }}</div>
        <div class="follow-label">フォロー</div>
      </div>
      
      {% include "components/follower_count.html" %}
    </div>
  </div>
</div>
