{% load follow_tags %}

<div class="card user-panel-container">
  <div class="user-left">
    {% include 'components/user_icon_sm.html' %}

    <div class="user-username">{{ user.username }}</div>

    {% if is_self %}
    <div></div>
    {% else %} {% follow_button request.user user %} {% endif %}
  </div>

  <div class="user-panel-info">
    {% comment %}TODO 色々表示する{% endcomment %}
    <div>
      <div class="user-info-count">
        {% comment %} 
        <div>
          <div>登録数</div>
          <div>120</div>
        </div>

        <div>
          <div>レビュー</div>
          <div>10</div>
        </div> 
        {% endcomment %}
      </div>

      <div>
        <div>
          {% if user.description %}
          <div class="user-description">{{ user.description }}</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col gap-4">
      {% include "components/following_count.html" %}
      {% include "components/follower_count.html" %}
    </div>
  </div>
</div>
