* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(243, 243, 243);
}

main {
  min-height: 100vh;
}

.page-title {
  font-size: 0.8rem;
  color: #1e90ff;
  font-weight: bold;
  margin-top: 24px;
}

.container {
  display: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (max-width: 768px) {
  /* TODO スマホ用 */
  .container {
  }
}

.w-full {
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(42, 42, 42);
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(42, 42, 42);
}

/* margin */
.mb-4 {
  margin-bottom: 16px;
}

/* テキスト */
.text-primary {
  color: #1e90ff;
}

.text-sm {
  font-size: 0.8rem;
}

/* 背景 */

.bg-primary {
  background-color: #1e90ff;
}

/* ボタン */
.btn {
  text-align: center;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.btn-sm {
  text-align: center;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 4px 8px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-sm:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #1e90ff;
  color: white;
}

.btn-secondary {
  background-color: #5992dc;
  color: white;
}

.btn-info {
  background-color: rgb(72, 72, 72);
  color: white;
}

/* バッジ */
.badge {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 4px;
  color: white;
}

.badge-primary {
  background-color: #1e90ff;
}

.badge-info {
  background-color: rgb(72, 72, 72);
}

/*
ADD8E6 
FFD700 
*/

/* Icon */
.icon {
  width: 2rem;
  height: 1.5rem;
}
