.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px #d2d2d2 solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #1E90FF;
    color: white;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}


/* ナビゲーション */
.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* 検索部分 */
.searchbox-container {
    display: none;
    /* display: flex; */
    flex-direction: row;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    font-size: 16px;
}

.searchbox-input {
    padding: 0.5rem;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    max-width: 160px;
}

.searchbox-icon {
    padding: 0.5rem;
    color: black;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #ddd;
}

/* ダッシュボードリンク */
.mypage-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-radius: 4px;
}

.mypage-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* PC版 */
@media screen and (min-width: 768px) {
    .searchbox-container {
        display: flex;
    }
}