/* .markdownをベースにスタイリングする */
.markdown {}


/* Headerタグのスタイリング */
.markdown h1 {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.markdown h2 {
    font-size: 2.0rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.markdown h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.markdown h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.markdown h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.markdown p img {
    margin: 1rem 0;
    max-height: 600px;
    max-width: 600px;
    width: auto;
}