.w-full {
  width: 100%;
}

/* Display */
.col {
  display: flex;
  flex-direction: column;
}

.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-w-xs {
  max-width: 128px;
}

.max-w-sm {
  max-width: 256px;
}

.max-w-md {
  max-width: 512px;
}

/* margin */
.mt-4 {
  margin-top: 16px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-10 {
  margin-top: 40px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-10 {
  margin-bottom: 40px;
}

/* Gap */
.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

/* テキスト */

.text-sm {
  font-size: 0.8rem;
}

.text-base {
  font-size: 1rem;
}

.decoration-none {
  text-decoration: none;
  text-decoration-color: transparent;
}
