<div class="content-area">
  <div class="selection-section mb-6">
    <div>
      <button id="btn-bookshelf" class="badge badge-info">本棚</button>
      <button id="btn-reviews" class="badge">レビュー一覧</button>
      <button id="btn-selection" class="badge">セレクション</button>
    </div>
  </div>

  <div id="bookshelf-section">
    <div class="mypage-bookshelf-title mb-6">
      <h3>本棚</h3>
    </div>

    {% include 'components/bookshelf.html' %}
  </div>

  <div id="reviews-section" style="display: none">
    <h3 class="mb-4">最近のレビュー(5件まで)</h3>

    {% include 'components/review_list.html' %}
  </div>

  <div id="selection-section" style="display: none">
    <div class="row-center mb-4 gap-2">
      <h3>セレクション</h3>
      <div>
        <a href="{% url 'create_selection' %}" class="btn-sm btn-primary"
          >作成する</a
        >
      </div>
    </div>

    <div class="selection-list">
      {% for selection in selections %}
      <div>
        <a
          href="{% url 'selection_detail' selection.id %}"
          class="selection-panel"
        >
          {{selection.title}}
        </a>
        <div>
          <button class="btn-sm btn-info">編集</button>
          <button class="btn-sm btn-warning">削除</button>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
