<section id="selection-section" style="display: none">
  <div class="row-center mb-6 gap-2">
    <h3>セレクション</h3>
    <div>
      <a href="{% url 'create_selection' %}" class="btn-sm btn-primary"
        >作成する</a
      >
    </div>
    <div>
      {% if user.is_staff %}
        <button id="ai-selection-open" type="button" class="btn-sm">ＡＩ</button>
      {% endif %}
    </div>
  </div>

  {% if selections %}
  {% include "components/_selection_list.html" with show_tool=True %}
  {% else %}
    <div class="card-sm col gap-4">
      <div>セレクションが存在しません</div>
      {% comment %} <div>「AI」に作成してもらうか、「作成」ボタンから作成してみましょう。</div> {% endcomment %}
      <div>「作成」ボタンから作成してみましょう</div>
    </div>
  {%endif%}

  <div id="ai-selection-modal" class="modal-container" style="display: none;">
    <div class="modal-dialog">
      <h4>[Ver0.1]AIセレクション機能</h4>

      <p class="pt-4 text-sm">AIに要求を出すと、それに合ったセレクションを作ってくれます。</p>
      <p class="text-sm">※現在検証中のため、精度は向上中です。</p>

      <div class="form-group mt-4">
        <textarea id="selection-demand" placeholder="泣ける作品が読みたいです…" class="textarea"></textarea>
      </div>

      <ul class="my-4 row-center gap-4">
        <button 
          id="selection-create-btn" 
          class="border btn-sm btn-primary"
        >
          生成する(AIチケット残り{{user.available_ai}}回)
        </button>
        <div>
          <button id="ai-selection-close" type="button" class="btn-sm">閉じる</button>
        </div>
      </ul>

    </div>
  </div>
</section>
