<section id="selection-section" style="display: none">
  <div class="row-center mb-6 gap-2">
    <h3>セレクション</h3>
    <div>
      <a href="{% url 'create_selection' %}" class="btn-sm btn-primary"
        >作成する</a
      >
    </div>
    <div>
      {% if user.is_staff %}
        <button id="ai-selection-open" type="button" class="btn-sm">AI生成</button>
      {% endif %}
    </div>
  </div>

  {% include "components/_selection_list.html" with show_tool=True %}

  <div id="ai-selection-modal" class="modal-container" style="display: none;">
    <div class="modal-dialog">
      <h4>AIがセレクションを生成してくれます</h4>

      <div class="form-group mt-4">
        <input id="selection-demand" type="text" placeholder="面白い漫画を読みたいです（10~100)" class="form-input">
      </div>

      <ul class="my-4">
        <li 
          id="selection-create-btn" 
          class="border btn btn-primary"
        >
          [α版]AIに依頼する(残り{{user.available_selections}}回)
        </li>
      </ul>

      <div class="mb-2 mt-6">
        <div>※対象の書籍は本棚に追加されます</div>
      </div>
  
      <div>
        <button id="ai-selection-close" type="button" class="btn-sm">閉じる</button>
      </div>
    </div>
  </div>
</section>
