<div class="top-section card">
  <div class="top-left">
    <div>{% include 'components/user_icon.html' %}</div>

    <h4>{{ user.username }}</h4>

    <div>
      <div>
        <a class="btn-sm" href="{% url 'setting' %}">アカウント設定</a>
      </div>
    </div>
  </div>

  <div class="top-right">
    <div>
      <h3>
        <span>{{ month }}月の活動履歴</span>
        <a href="{% url 'help_activity' %}">
          <i class="fa-solid fa-question fa-2xs" style="color: #3d3d3d"></i>
        </a>
      </h3>

      {% include 'components/activities.html' %}
    </div>

    <div class="record-container">
      <table class="data-table record-table">
        <tr>
          <th>今月の記録</th>
          <th></th>
        </tr>
        <tr>
          <td>読了数</td>
          <td>{{ finished_count }}</td>
        </tr>
        <tr>
          <td>レビュー数</td>
          <td>{{ reviews_count }}</td>
        </tr>
      </table>

      <div class="follow-area">
        {% include "components/follower_count.html" %}
        {% include "components/following_count.html" %}
      </div>
    </div>
  </div>
</div>
