<section>
  <h2 class="mb-4">お知らせ</h2>

  <div class="card-sm col gap-2">
    {% for notice in latest_notices %}
      <div class="row-center gap-4">
        <div class="text-sm text-info">{{ notice.created_at|date:'Y/m/d' }}</div>

        {% if notice.kind == 'news' %}
          <div class="badge-sm badge-primary">お知らせ</div>
        {% elif notice.kind == 'help' %}
          <div class="badge-sm badge-secondary">使い方</div>
        {% endif %}
        <a href="{% url 'notice_detail' notice.id %}" class="text-sm">{{ notice.title }}</a>
      </div>
      {% empty %}お知らせがありません
    {% endfor %}
  </div>
</section>
