<section class="w-full">
  <div class="card-sm">
    <form 
      action="{% url 'book_search' %}" method="GET" 
      class="search-container" 
      data-book-url="{% url 'book_search' %}" 
      {% comment %} TODO 著者検索も対応する {% endcomment %}
      data-author-url=""
    >
      <select name="search_type" id="searchType" onchange="updateActionURL()" class="search-select">
        <option value="book_name" selected>タイトル</option>
        {% comment %} <option value="author_name">著者名</option> {% endcomment %}
      </select>
      <input type="text" name="query" placeholder="検索……" class="search-input w-full" autocomplete="off" />
      <button type="submit" class="searchbox-icon"><i class="fas fa-search"></i></button>
    </form>

    <div class="mt-4">
      <h5>タグ検索</h5>
      {% for tag in tags %}
        <a href="{% url 'book_search_by_tag' %}?tag={{ tag.name }}" class="badge-sm badge-info-border">#{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
</section>
