{% extends 'base.html' %} 
{% load static %} 

{% block title %}セレクションを編集{% endblock %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/selection.css' %}" />
{% endblock %} 

{% block js %}
<script src="{% static 'js/services/selection_service.js' %}"></script>
{% endblock %} 

{% block content %}
<section>
  <h3>セレクションを編集</h3>
  <form method="post" class="form-card max-w-xl">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_title">タイトル</label>
      {{ form.title }}
    </div>

    <div class="form-group">
      <label for="id_description">説明</label>
      {{ form.description }}
    </div>

    <div class="form-group">
      <label for="">
        <span>書籍</span>
        <span class="label-help">(本棚から選択します)</span>
      </label>
    </div>

    {% include "components/_book_selection.html" %}

    <button type="submit" class="mt-4 btn btn-primary">
      更新<span id="selected-count"></span>
    </button>

    {% if error_message %}
      <p class="mt-4 form-error">{{ error_message }}</p>
    {% endif %}
  </form>
</section>
{% endblock %}
