{% load book_tags %}

<div class="search-panel">
  <div class="col center">{% book_icon book "md" user %}</div>

  <div>
    <a href="{% url 'book_detail' book.id %}">
      {{ book.title }}
    </a>

    <ul class="authors-container mt-4">
        {% for author in book.authors.all %}
        {% if forloop.counter <= 4 %}
            <li>
                <i class="fa-regular fa-user fa-sm"></i>
                <span>{{ author.name }}</span>
            </li>
        {% endif %}
        {% if book.authors.length > 5 %} 
        <span>他{{authors.length}}人</span>
        {% endif %}
        {% endfor %}
        {% if not book.authors.all %}
        <li class="author">
            <i class="fa-regular fa-user fa-sm"></i>
            <span>-</span>
        </li>
        {% endif %}
    </ul>
  

    <div class="">
      <i class="fa-regular fa-calendar fa-sm"></i>
      <span>{{ book.published_date|default_if_none:'-' }}</span>
      <p class="mt-4">{{ book.description|truncatechars:80 }}</p>
    </div>
  </div>

  <div class="search-type">
    {% if book.isbn_10 %}
    <span>1</span>
    {% else %}
    <span>9</span>
    {% endif %}
  </div>
</div>
