{% extends 'base.html' %} 

{% load static %} 
{% load user_tags %}
{% load book_tags %}

{% block title %} 読書記録 {% endblock %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/modal.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/memo.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/reading_record.css' %}" />
{% endblock %} 

{% block js %}
  <script src="{% static 'js/review-modal.js' %}"></script>
  <script src="{% static 'js/services/memo/delete.js' %}"></script>
  <script src="{% static 'js/services/memo/create.js' %}"></script>
  <script src="{% static 'js/services/memo/create_element.js' %}"></script>
  <script src="{% static 'js/services/memo/get_list.js' %}"></script>
  <script src="{% static 'js/pages/reading_record.js' %}"></script>
{% endblock %} 


{% block content %}
<section>
  <div class="card book-detail-section">
    <div class="book-detail-left">
      {% book_icon book "md" %}

      <div class="center mt-4">
        <a href="{% url 'remove_from_shelf' book.id %}" class="btn-sm btn-warning">
          <i class="fa-solid fa-trash"></i>
          <span>本棚から削除</span>
        </a>
      </div>
    </div>

    <div class="book-detail-middle">
      {% include 'components/book_title_sm.html' %} 
      {% include 'components/book_authors.html' %} 
      {% include 'components/book_publication_date.html' %}
    </div>

    {% include 'components/record.html' %}
  </div>
</section>

<section class="memo-container">
  {% include 'components/memo_form.html' %}

  {% include 'components/memo_list.html' with show=True %}
  {% if not memos %}
    <div id="no-memo-title" class="card-sm">アウトプットが存在しません。</div>
  {% endif %}

  <div class="center pt-4 mt-10">
    <i id="get-memo-list-btn"  class="fa-xl fa-solid fa-rotate-right cursor-pointer" style="color: #1e90ff;"></i>
</div>
</section>


{% comment %} 隠し要素 {% endcomment %}

<div>
  <input type="hidden" value="{{book.id}}" id="book_id">
</div>

{% include 'components/review_modal.html' %} 
{% endblock %}
