{% extends 'base.html' %} 
{% load static %} 
{% load follow_tags %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/book.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/review.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/user.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/follower.css' %}" />
{% endblock %} 

{% block title %} {{ account.username }}さんのフォロワー {% endblock %} 

{% block js %}
<script src="{% static 'js/components/follow_buttons.js' %}"></script>
{% endblock %}

{% block content %}
<section>
  <h3></h3>

  <div class="card">
    <div>User Panel</div>
  </div>
</section>

<section>
  <h3>{{ account.username }}さんのフォロワー</h3>

  <div class="follower-list">
    {% for follow in followers %}
    <div class="follower-line">
      <div>
        {% if follow.follwer.profile_image %}
        <img
          src="{{follow.follower.profile_image}}"
          alt="user-icon"
          class="user-icon-sm"
        />
        {% else %}
        <span class="user-icon-sm">
          <i class="fa-regular fa-face-smile fa-xl" style="color: #888"></i>
        </span>
        {% endif %}
      </div>

      <div class="follow-info">{{ follow.follower.username }}</div>

      <div>
        {% if request.user.id != follow.follower.id %} 
          {% follow_button follow.followed follow.follower %}
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="follower-line">存在しません</div>
    {% endfor %}
  </div>
</section>

{% endblock %}
