{% extends 'base.html' %} 
{% load static %} 
{% load follow_tags %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pages/follower.css' %}" />
{% endblock %} 

{% block title %} {{ account.username }}さんのフォロワー {% endblock %} 

{% block js %}
<script src="{% static 'js/services/follow/follow_user.js' %}"></script>
{% endblock %}

{% block content %}
<section>
  <h3 class="mb-4">
    <a href="{% url 'user_detail' account.username%}" class="text-primary">{{ account.username }}</a>さんのフォロワー
  </h3>

    {% include 'components/account_list.html' with followers=accounts %}
</section>
{% endblock %}
