.book-detail-section {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.book-detail-tools {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-top: 12px;
}

.book-detail-info-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .book-detail-section {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .book-detail-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* 書籍紹介 */
.book-description-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.book-description-content {
  margin-top: 12px;
  font-size: 0.8rem;
  word-wrap: pre-wrap;
  border: 1px solid #e6e6e6;
  padding: 12px;
  border-radius: 4px;
  background-color: white;
}

/* 著者一覧 */
.authors-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.author-item {
  list-style: none;
}

.author-icon {
  color: #444;
  width: 10px;
  height: 10px;
}

.reviews {
  margin-top: 24px;
}
