.follower-list {
    background-color: white;
    border-radius: 8px;
}

.follower-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #E2E8F0;
}

.follow-info {
    flex-grow: 1;
}