.sidebar {
  display: none;
  width: 280px;
  padding-left: 20px;
}

/* 特徴セクション */
.features-container {
  display: grid;
  grid-template-columns: 1fr;
}

.feature {
  background-color: white;
  padding: 12px;
}


/* タイムラインセクション  */
.timeline-panel-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.timeline-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content;
}

.timeline-panel-header {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.timeline-panel-image {
  height: 80px;
  width: 70px;
  object-fit: contain;
}

.timeline-panel-image:hover {
  opacity: 0.8;
}

.timeline-panel-title {
  font-size: 12px;
  color: #1e90ff;
  text-decoration: none;
}

.timeline-panel-content {
  color: #494949;
  font-size: 14px;
  text-align: start;
  white-space: pre-wrap;
}

.timeline-panel-date {
  color: #676767;
  font-size: 12px;
  padding-left: 12px;
}


/* お知らせセクション */
.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* 検索セクション */
.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid transparent;
}

.search-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
}

.search-container {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  z-index: 3;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.search-select {
  border: none;
  border-right: 1px solid #aaa;
  height: 100%;
  width: 80px;
  outline: none;
}

/* ランキング */
.ranking-list-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap:32px
}

.rank {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e90ff;
  width: 24px;
  height: 24px;
  color: white;
  border-radius: 100%;
  text-decoration: none;
}

/* レビューセクション */
.review-title {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.rating-container {
  margin-bottom: 12px;
}


/* よく読まれてます */
.top-books-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

/* PC版 */
@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
  }

  .features-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .feature {
    border-radius: 4px;
  }

  .timeline-panel-container {
    grid-template-columns: 1fr 1fr;
  }
}
