.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: #fff;
}

.search-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid transparent;
    outline: none;
}



/* 最新のレビュー */
.review-section {
    margin-top: 32px;
}

.reviews-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.review-title {
    font-size: 12px;
    text-decoration: none;
    color: #333;
}

/* よく読まれてます */
.top-books-section {
    margin-top: 32px;
}

.top-books-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.recommendation-book-container {
    margin-top: 32px;
}