/* login.css */

.login-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.error {
  color: red;
}

.login-link {
  color: #007bff;
}

.login-link:hover {
  text-decoration: underline;
}

/* ボタン */
.google-login-btn a {
  display: flex;
  align-items: center;
  background-color: #4285F4;
  color: #fff;
  width: 200px;
  padding: 10px 15px;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: bold;
}

.google-icon {
  background: url('https://developers.google.com/identity/images/g-logo.png') no-repeat center;
  background-size: cover;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.google-btn-text {
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
}
