/* login.css */

.login-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.error {
  color: red;
}

.login-link {
  color: #007bff;
}

.login-link:hover {
  text-decoration: underline;
}
