/* login.css */

.login-form {
  max-width: 280px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}

.login-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.error {
  color: red;
}

.login-link {
  color: #007bff;
}

.login-link:hover {
  text-decoration: underline;
}
