.top-section {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.top-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.user-icon {
  width: 100px;
  height: 100px;
  background-color: gainsboro;
  border-radius: 100%;
}

.user-settings-button {
  background-color: #1e90ff;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.user-username {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 1rem;
  text-align: center;
}

/* レコードテーブル */
.data-table {
  width: 100%;
  max-width: 240px;
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.data-table th,
.data-table td {
  padding: 4px 8px;
}

.data-table th {
  background-color: #1e90ff;
  color: white;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table td:nth-child(2) {
  text-align: center;
  font-weight: bold;
}

/* ツールバー */
.toolbar-section {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.toolbar-button {
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* 本棚 */
.mypage-bookshelf-section {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mypage-bookshelf-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.review-section {
  margin-top: 32px;
  margin-bottom: 64px;
}

.share-icon {
  text-decoration: none;
}

/* PC版 */
@media screen and (min-width: 712px) {
  .top-section {
    flex-direction: row;
    gap: 64px;
  }

  .top-right {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 32px;
  }
}
