/* 書籍詳細 */
.book-detail-section {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.book-detail-left {
}

.book-detail-middle {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  width: 100%;
}

.book-detail-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.book-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/* 著者 */
.authors-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.author-item {
  list-style: none;
}

/* メモ */
.memo-section {
  margin-top: 32px;
  margin-bottom: 32px;
}

.record-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}



/* PC版 */
@media screen and (min-width: 768px) {
  .book-detail-section {
    flex-direction: row;
    gap: 24px;
    align-items: start;
  }

  .book-buttons {
    flex-direction: column;
  }
}