/* 検索ボックス */
.search-section {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 24px;
  background-color: #fff;
}

.search-form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.search-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 240px;
}

/* 検索結果 */
.result-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/* 書籍結果 */
.book-noresult {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 著者 */
.authors-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.author {
  list-style: none;
  font-size: 0.8rem;
}

.book-info-description {
  margin-top: 12px;
  font-size: 0.8rem;
  color: #555;
}

/* ページネーション */
.pagination-section {
  margin-top: 32px;
  margin-bottom: 64px;
}