.user-panel-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.user-panel-info {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}

.user-left {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-right: 4px solid #888;
}

.user-bookshelf-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}


.user-description {
  white-space: pre-wrap;
  padding-right: 16px;
  font-size: 14px;
  color: #666;
}
