{% extends 'base.html' %} 
{% load static %} 

{% block css %}
{% comment %} TODO {% endcomment %}
{% endblock %} 

{% block title %}管理者画面{% endblock %} 


{% block content %}
<section>
    <h3>管理コンテンツ</h3>
    <div class="col gap-4">
        <a href="{% url 'management_books' %}">書籍管理</a>
        
        <a href="{% url 'management_contacts' %}">お問い合わせ一覧</a>

        <a href="{% url 'management_search_history' %}">検索履歴</a>

        <a href="{% url 'management_notices' %}">お知らせ一覧</a>
        
        <a href="{% url 'management_ai_users' %}">AIユーザー一覧</a>
    </div>
</section>
{% endblock %}