.account-list-container {
    background-color: white;
    border-radius: 8px;
}

.account-user-icon {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.account-username {
    font-size: 12px;
    color: #666;
}

.account-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #E2E8F0;
}

.account-info {
    flex-grow: 1;
}

.account-description {
    font-size: 14px;
    color: #718096;
}

.account-followe-button {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}