.bookshelf {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.bookshelf-item {
  list-style: none;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PC版では4列にする  */
@media screen and (min-width: 712px) {
  .bookshelf {
    grid-template-columns: repeat(4, 1fr);
  }
}