.book {
  display: block;
  position: relative;
  width: fit-content;
}

.book:hover {
  opacity: 0.7;
}

.book-image {
  height: 180px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.book-image-sm {
  height: 100px;
}


/* 本棚 */
.bookshelf {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.book-done-icon {
  position: absolute;
  bottom: 12px;
  right: 4px;
  width: 32px;
  height: 32px;
  background-color: rgb(17, 203, 17);
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}


/* PC版では4列にする  */
@media screen and (min-width: 712px) {
  .bookshelf {
    grid-template-columns: repeat(4, 1fr);
  }
}



