.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book:hover {
  opacity: 0.8;
}

.book-image {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.book-image:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-image-md {
  height: 150px;
  width: 120px;
}

.book-image-sm {
  height: 80px;
}


.book-title_sm {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 4px;
  text-decoration: none;
}


.book-author {
  font-size: 0.8rem;
  color: rgb(74, 74, 74);
  margin-top: 4px;
}

/* 本棚 */
.bookshelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.book-play-icon {
  position: absolute;
  bottom: 12px;
  right: 4px;
  width: 32px;
  height: 32px;
  background-color: rgb(255, 203, 48);
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.book-done-icon {
  position: absolute;
  bottom: 12px;
  right: 4px;
  width: 32px;
  height: 32px;
  background-color: rgb(17, 203, 17);
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* PC版では4列にする  */
@media screen and (min-width: 712px) {
  .bookshelf {
    grid-template-columns: repeat(4, 1fr);
  }
}
