.form-card {
  width: 100%;
  max-width: 350px;
  margin: 50px auto;
  padding: 24px 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.form-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.form-label {
  color: #5e5e5e;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.form-label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.form-error {
  color: red;
  font-size: 8px;
  margin-top: 4px;
}

.form-group {
  margin-bottom: 24px;
}

.form-group > input {
  width: 100%;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px;
  outline: none;
}

.form-group > input:focus {
  border-color: #4d90fe;
}

.form-group > textarea {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  transition: border-color 0.3s, box-shadow 0.3s;
  resize: none;
  outline: none;
  box-sizing: border-box;
}

.form-group > textarea:focus {
  border-color: #4d90fe;
}

.form-group > select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  transition: border-color 0.3s, box-shadow 0.3s;
  resize: none;
  outline: none;
}

.form-group > select:focus {
  border-color: #4d90fe;
}

.form-image {
  width: 100px;
}

/* PC版 */
@media screen and (min-width: 712px) {
  .form-card {

  }
}
