.memo-container {
}

/* メモフォーム */
#memo-form {
  margin-bottom: 32px;
  background-color: white;
  padding: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  border: 1px solid #ccc;
}

.memo-textarea {
  width: 100%;
  padding: 12px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.memo-textarea:focus {
  border-color: #007bff;
}

/* Memoリスト */
#memo-list {
  border: 1px solid #ddd;
  background-color: white;
}

.memo-item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#memo-list .memo-item:last-child {
  border-bottom: none;
}

.memo-item__image {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
}

.memo-item__info {
  flex-grow: 1;
}

.memo-item__info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.memo-item__info-time {
  font-size: 12px;
  color: #555;
}

.memo-item__content {
  margin-top: 16px;
  flex-grow: 1;
  font-size: 16px;
  color: #666;
  white-space: pre-wrap;
}

.memo-item__tool {
  width: 60px;
}

.memo-item__delete {

}

#no-memo-title {
  padding: 24px 32px;
}