/* TODO review-commentにする */
.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.review-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
  background-color: white;
  padding: 12px 24px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.review-user-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.review-rating {
  margin-top: 24px;
}

.review-content {
  white-space: pre-wrap;
}

/* ホーム用のライン */
.review-line {
  display: flex;
  flex-direction: row;
  gap: 24px;
  text-decoration: none;
}

.review-user {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.review-content {
  margin-top: 4px;
}
