.selection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:12px;
}

.selection-panel {
    cursor: pointer;
    border: 1px solid transparent;
}

.selection-selected {
    border: 1px solid #007BFF;
}