.user-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.user-icon {
  width: 100px;
  height: 100px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.user-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.user-icon-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.user-icon-sm:hover {
  opacity: 0.8;
  cursor: pointer;
}

.user-username {
  font-size: 0.8rem;
  font-weight: bold;
  color: #666;
}

/* フォロワー関係 */
.follow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow-count {
  font-size: 0.8rem;
  font-weight: bold;
}

.follow-label {
  font-size: 0.8rem;
  color: #434343;
}
