<div class="modal-container" id="reviewModal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">レビューを投稿</h5>
      </div>

      <form id="reviewForm" class="modal-form" method="post" action="{% url 'review_create' book.id %}">
        {% csrf_token %}

        <div class="modal-select">{{ review_form.rating }}</div>

        <div class="modal-textarea">{{ review_form.content }}</div>

        <div class="modal-footer">
          <button id="review-submit" type="button" class="btn btn-primary">レビューを送信</button>
          <button type="button" class="btn" id="closeReviewModalButton">閉じる</button>
        </div>
      </form>
    </div>
  </div>
</div>
