<div class="reviews-container">
  {% for review in reviews %}
    <div class="review-line card-sm">
      <div>
        <a href="{% url 'book_detail' review.book.id %}">
          <img 
            src="{{ review.book.thumbnail }}" 
            alt="{{ book.title }}" 
            class="book-image-sm" 
          />
        </a>
      </div>

      <div class="review-container">
        <div class="review-user-container">
          <div>
            <a href="{% url 'user_detail' review.user.username %}" class="decoration-none">
              {% if review.user.profile_image %}
                <img src="{{ review.user.profile_image.url }}" alt="{{ review.user.username }}" class="user-icon-sm" />
              {% else %}
                {% include "components/no_user_icon_sm.html" %}
              {% endif %}
            </a>
          </div>
          <div class="user-username">{{ review.user.username }}</div>
        </div>

        <div class="rating-container">
          {% if review.rating %}
            {% for i in rating_range %}
              {% if i <= review.rating %}
                <i class="fa-solid fa-star" style="color: #ffdc2e;"></i>
              {% else %}
                <i class="far fa-star"></i>
              {% endif %}
            {% endfor %}
          {% else %}
            レビューがありません
          {% endif %}
        </div>

        <a href="{% url 'book_detail' review.book.id %}" class="book-title_sm"><span class="text-sm text-primary">{{ review.book.title }}</span></a>


        <div>
          <div class="review-content">{{ review.content }}</div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="card">レビューが存在しません</div>
  {% endfor %}
</div>
