<div class="modal-container" id="reviewModal" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <h3 class="form-title">レビューを投稿</h3>

      <form
        id="reviewForm"
        method="post"
        action="{% url 'api_review_detail' book.id %}"
      >
        {% csrf_token %}

        <div class="form-group max-w-xs">{{ review_form.rating }}</div>

        <div class="form-group">{{ review_form.content }}</div>

        <div class="modal-footer row-between">
          <div class="row-center gap-2">
            <button id="review-submit" type="button" class="btn-sm btn-primary">
              送信
            </button>
            <button type="button" class="btn-sm" id="closeReviewModalButton">
              閉じる
            </button>
          </div>

          {% if review_form.instance.id %}
          <button 
            id="delete-review" 
            type="button" 
            class="btn-sm btn-danger"
            data-url="{% url 'api_review_detail' book.id %}"
          >
            取り消す
          </button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
