{% comment %} 
books -> bookとreading_recordの結合結果
TODO 名称を変えたい
{% endcomment %}
<div class="bookshelf">
  {% for result in books %}
    <a href="{% url 'reading_record' result.book.id %}" class="book">
      <img src="{{ result.book.thumbnail }}" alt="{{ result.book.title }}" class="book-image" />

      {% if result.reading_record.finished_at %}
        <span class="book-done-icon"><i class="fa-solid fa-check"></i></span>
      {% endif %}
    </a>
    {% empty %}
    <p>本棚には書籍が登録されていません。</p>
  {% endfor %}
</div>
