<header class="header-container">
  <div>
    <a href="/" class="logo">LOGO</a>
  </div>

  <nav class="nav-container">
    <div>
      <form action="{% url 'book_search' %}" method="GET" class="searchbox-container">
        <input type="text" name="query" placeholder="書籍を検索" class="searchbox-input" />
        <button type="submit" class="searchbox-icon"><i class="fas fa-search"></i></button>
      </form>
    </div>

    {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}">ダッシュボード</a>
    {% else %}
      <a href="{% url 'login' %}">ログイン</a>
      <a href="{% url 'register' %}">新規登録</a>
    {% endif %}
  </nav>
</header>
