{% extends 'base.html' %} 
{% load static %}

{% block title %} お問い合わせページ{% endblock %} 
{% block css %} {% endblock %} 

{% block content %}
<section>
  <h3>活動履歴に関して</h3>

  <div class="card mt-4">
    <h4>どうすれば色がつくのか</h4>

    <div class=" mt-4 mb-6">
      <p>活動履歴は作成したメモの個数に依存して色が変わるようになっています。</p>
      <p>何もしていない場合はグレー。</p>
      <p>活発的にメモにてアウトプットすればするほど色が深緑色になるようになっています。</p>
    </div>

    <h4>アルゴリズム</h4>
    
    <div class="mt-4">
      <p>
        現在アルゴリズムに関しては検討中です。
      </p>
      <p>そのため今後定期的に色合いが変更される場合がございますのでご注意ください。</p>
      <p>
        具体的なアルゴリズムが決まり次第、こちらに記載いたします。
      </p>
    </div>

    <div class="mt-6">
      <p class="text-sm">更新日 2023/10/25</p>
    </div>
  </div>
</section>
{% endblock %}
