{% extends 'base.html' %} 
{% load static %}

{% block title %} お問い合わせページ{% endblock %} 
{% block css %} {% endblock %} 

{% block content %}
<section>
  <h3>活動履歴に関して</h3>

  <div class="card mt-4">
    <h4>どうすれば色がつくのか</h4>

    <div class=" mt-4 pl-4 mb-6 border-l-4">
      <p>活動履歴はアウトプットの量に依存します。</p>
      <div class="p-2">
        <p>アウトプットが多い＝濃い緑</p>
        <p>アウトプットが少ない＝薄い緑</p>
        <p>アウトプットが無い＝灰色</p>
      </div>
      <p>活発的にアウトプットをすることで、活動履歴が緑色に染まっていきます！</p>
    </div>

    <h4>アルゴリズム</h4>
    
    <div class="mt-4 pl-4 border-l-4">
      <p>現在アルゴリズムに関しては検討中です。</p>
      <p>そのため今後定期的に色合いが変更される場合がございますのでご注意ください。</p>
      <p>具体的なアルゴリズムが決まり次第、こちらに記載いたします。</p>
    </div>

    <div class="mt-6">
      <p class="text-sm">更新日 2023/11/04</p>
    </div>
  </div>
</section>
{% endblock %}
