{% load user_tags %} 
{% load book_tags %}

<ol id="memo-list">
  {% for memo in memos %}
  <li class="memo-item">
    <div class="memo-item__image">{% book_icon memo.book "sm" %}</div>

    <div class="memo-item__info">
      <div class="memo-item__info-header">
        {% user_icon memo.user "sm" %}
        <div>
          <p>{{memo.user.username}}</p>
          <p class="memo-item__info-time">{{ memo.created_at }}</p>
        </div>
      </div>
      <div class="memo-item__content">{{ memo.content }}</div>
    </div>

    <div class="memo-item__tool">
      {% if memo.user == request.user %}
      <button
        class="memo-item__delete"
        data-memo-id="{{ memo.id }}"
        data-action="{% url 'memo_detail_api' memo.id %}"
      >
        <i class="fa-xl fa-regular fa-trash-can" style="color: #666"></i>
      </button>
      {%endif%}
    </div>
  </li>
  {% endfor %}

  {% if not memos %}
  <p id="no-memo-title" class="card-sm">メモはありません</p>
  {% endif %}
</ol>

