{% extends 'base.html' %}
{% load static %}

{% block title %}
  読書記録
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pages/reading_record.css' %}" />
  <link rel="stylesheet" href="{% static 'css/modal.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/review-modal.js' %}"></script>
  <script src="{% static 'js/create-memo.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="book-detail-container">
    <div class="book-detail-left">
      <img src="{{ book.thumbnail }}" alt="{{ book.title }}" />

      <div>
        <a href="https://twitter.com/intent/tweet?text={{ book.title }}&url={{ request.build_absolute_uri|urlencode }}" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
      </div>
    </div>

    <div class="book-detail-right">
      <h2>{{ book.title }}</h2>

      <ul class="authors-container">
        {% comment %}TODO 著者名は2名までにする{% endcomment %}
        {% for author in book.authors.all %}
          <li class="author-item">
            <i class="fa-regular fa-user fa-sm"></i>
            <span>{{ author.name }}</span>
          </li>
          {% empty %}
          <li class="author-item">
            <i class="fa-regular fa-user fa-sm"></i>
            <span>-</span>
          </li>
        {% endfor %}
      </ul>

      <div class="book-buttons">
        <a href="{% url 'book_detail' book.id %}" class="btn-sm btn-info">
          <i class="fa-solid fa-book"></i>
          <span>詳細へ</span>
        </a>
        {% if record.finished_at %}
          <form action="{% url 'mark_as_unfinished' book.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-sm btn-primary">
              <i class="fa-regular fa-calendar"></i>

              <span>未読にする</span>
            </button>
          </form>

          <button id="openReviewModalButton" type="button" class="btn-sm btn-primary">
            <i class="fa-solid fa-pen"></i>
            <span>レビュー</span>
          </button>
        {% else %}
          <form action="{% url 'mark_as_finished' book.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-sm btn-primary">
              <i class="fa-regular fa-calendar"></i>
              <span>読了済みにする</span>
            </button>
          </form>
        {% endif %}
      </div>

      <div>
        <div>開始日: {{ record.started_at|default_if_none:'' }}</div>
        <div>読了日: {{ record.finished_at|default_if_none:'-' }}</div>
      </div>
    </div>
  </div>

  {# メモの投稿フォーム #}
  <div class="memo-container">
    <form id="memoForm" data-action="{% url 'create_memo' book.id %}">
      {% csrf_token %}
      {{ form.content }}

      {% if form.content.errors %}
        <div class="error">{{ form.content.errors }}</div>
      {% endif %}

      <button id="createMemoButton" class="btn btn-primary">
        <i class="fa-regular fa-file"></i>
        <span>メモを追加</span>
      </button>
    </form>

    <ol id="memoList">
      {% for memo in memos %}
        <li class="memo-item">
          <p>{{ memo.created_at }}</p>
          <p>{{ memo.content }}</p>
        </li>
        {% empty %}
        <p id="no-memo-title">まだメモはありません。</p>
      {% endfor %}
    </ol>
  </div>

  {% include 'review_modal.html' %}
{% endblock %}
