{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
  ログイン
{% endblock %}

{% block css %}
  <link href="{% static 'css/pages/login.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/form.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <form method="post" class="form-card max-w-md">
    {% csrf_token %}

    <h3 class="form-title">ログイン</h3>

    <div class="form-group">
      <div class="form-label">メールアドレス</div>
      {{ form.email }}
    </div>

    <div class="form-group">
      <div class="form-label">パスワード</div>
      {{ form.password }}
    </div>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <div class="mt-6">
      <button type="submit" class="btn btn-primary">ログインする</button>
      <a href="{% url 'register' %}">ユーザー登録</a>
    </div>

    <div class="mt-10 google-login-btn">
      <h4 class="mb-2">ソーシャルログイン</h4>

      <a href="{% provider_login_url 'google' %}">
          <span class="google-icon"></span>
          <span class="google-btn-text">Googleでログイン</span>
      </a>
    </div>
  </form>
{% endblock %}
