{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}


{% block title %}
  登録
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <form method="post" class="form-card max-w-md">
    {% csrf_token %}

    <h3 class="form-title">ユーザー登録</h3>

    <div class="form-group">
      <div class="form-label">ユーザー名</div>
      {{ form.username }}
      {% if form.username.errors %}
        <p class="form-error">{{ form.username.errors.as_text }}</p>
      {% endif %}
    </div>

    <div class="form-group">
      <div class="form-label">メールアドレス</div>
      {{ form.email }}

      {% if form.email.errors %}
        <p class="form-error">{{ form.email.errors.as_text }}</p>
      {% endif %}
    </div>

    <div class="form-group">
      <div class="form-label">パスワード</div>
      {{ form.password }}

      {% if form.password.errors %}
        <p class="form-error">{{ form.password.errors.as_text }}</p>
      {% endif %}
    </div>

    <div class="form-group">
      <div class="form-check">
        {{ form.terms_agreed }}
        <label class="form-check-label" for="{{ form.terms_agreed.id_for_label }}">
          <a href="{% url 'terms' %}" target="_blank">利用規約</a>に同意する
        </label>
      </div>
      {% if form.terms_agreed.errors %}
        <p class="form-error">{{ form.terms_agreed.errors.as_text }}</p>
      {% endif %}
   </div>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <div class="mt-4">
      <button type="submit" class="btn btn-warning">登録する</button>
      <a href="{% url 'login' %}" class="btn">ログイン画面へ</a>
    </div>

    <div class="mt-10 google-login-btn">
      <h4 class="mb-2 mb-4">その他登録</h4>

      <a href="{% provider_login_url 'google' next=next %}">
          <span class="google-icon"></span>
          <span class="google-btn-text">Googleで登録</span>
      </a>
    </div>
  </form>
{% endblock %}
