{% extends 'base.html' %}
{% load static %}

{% block title %}
  ダッシュボード
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pages/setting.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/card.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}" />
{% endblock %}

{% block content %}
  <div class="page-title">アカウント設定</div>

  <div class="setting-section">
    <div class="card">
      <form method="post" action="{% url 'setting' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <span class="form-label">メールアドレス</span>
          {{ form.email }}

          {% if form.email.errors %}
            <div class="form-error">
              {% for error in form.email.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="form-group">
          <span class="form-label">ユーザー名</span>
          {{ form.username }}

          {% if form.username.errors %}
            <div class="form-error">
              {% for error in form.username.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {% comment %}TODO 画像を削除する -> 再登録っていう流れにしたい{% endcomment %}
        <div class="form-group">
          <div class="form-label">プロフィール画像</div>
          <div class="form-row text-sm">
            <div class="form-image">
              {% if user.profile_image %}
                <div class="row-center gap-4">
                  <img src="{{ user.profile_image.url }}" alt="現在のプロフィール画像" class="form-image" />
                </div>
              {% else %}
                <div>{{ form.profile_image }}</div>
              {% endif %}
            </div>
          </div>

          {% if form.profile_image.errors %}
            <div class="form-error">
              {% for error in form.profile_image.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <input type="submit" value="更新" class="btn-sm btn-primary" />
      </form>

      {% if user.profile_image %}
      <form action="{% url 'delete_profile_image' %}" method="post" class="mt-4">
        {% csrf_token %}

        <button type="submit" class="btn-sm">プロフィール画像を削除</button>
      </form>
      {% endif %}
    </div>
  </div>

  <div class="mb-10">
    <a href="{% url 'logout' %}" class="btn btn-danger">ログアウト</a>
  </div>
{% endblock %}
