{% extends 'base.html' %}

{% load static %}

{% block title %}
  書籍詳細
{% endblock %}

{% block css %}
  <link href="{% static 'css/pages/user_detail.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/card.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/user.css' %}" rel="stylesheet" />
  <link href="{% static 'css/components/book.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/review-modal.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="mt-10">
    {% include 'components/user_panel.html' %}
  </div>

  <div class="mt-10">
    <h4>{{ user.username }}さんの本棚</h4>

    {% include "components/bookshelf.html" %}
  </div>
{% endblock %}
