{% load static %}

<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block meta %} {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components/card.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components/user.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components/book.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components/form.css' %}" />
    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet" />

    {% block css %}{% endblock %}

    <title>
      {% block title %}
        Yommy
      {% endblock %}
    </title>
  </head>

  <body>
    <main>
      {% include 'components/header.html' %}

      <div class="container">
        <div class="header-content">
          {% block header_content %}{% endblock %}
        </div>

        <div class="content">
          <div class="main-content">
            {% block content %}{% endblock %}
          </div>
  
          <div class="right-content">
            {% block right %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    <footer class="footer-container">
      <div class="footer-links">
        <a href="/terms">利用規約</a>
        <a href="#">プライバシーポリシー</a>
        <a href="/contact">お問い合わせ</a>
      </div>
      <div class="footer-credits">
        <p>&copy; 2023 BookHub</p>
      </div>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/create_element.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
